# Python
.venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project Specific
cyrillic_results.log
assets/templates/

utils/
